body {
    background-color: rgb(153, 159, 192);
}
h1 { font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black
}
h2{ font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  black
}
h3{ font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black
}
p { font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black
}
ul{ font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black
}
li{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  black
}
